:root {
  --animation-state: paused;
}

.body {
  height: calc(100vh - 140px);
  padding: 10px;
  overflow-y: scroll;
}

.breaker {
  margin: 5px;
  padding: 3px;
}

.breaker {
  color: var(--sec-color);
  font-weight: 600;
  font-size: 19px;
}

.notify-box {
  padding: 15px;
  background: var(--bg);
  position: relative;
  font-size: 14px;
  border-top: 1px solid var(--border-color);
}

.notify-container {
  display: flex;
  flex-direction: row;
}

.notify-box .icon {
  font-size: 20px;
  color: var(--sec-theme-color);
  padding: 6px;
}

.notify-body {
  font-family: "Nunito";
  padding: 6px;
  width: 75%;
}

.notify-box .right {
  position: absolute;
  right: 5px;
  margin: 5px;
  padding: 4px;
  bottom: 0;
  font-weight: 500;
  color: var(--theme-color);
}

.floating-btn {
  position: fixed;
  bottom: 80px;
  right: 25px;
  z-index: 99;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  box-shadow: 3px 3px 10px 5px var(--shadow);
  animation: bounceIn 2s 1;
  animation-delay: 1050ms;
  animation-play-state: var(--animation-state)
}

.floating-btn p {
  font-size: 15px;
  padding: 5px 10px;
  margin: 2px;
}

.floating-btn i {
  padding: 2px 6px;
  margin: 3px auto;
  font-size: 20px;
}


.ripple-effect-side,
.ripple-effect-lay {
  position: fixed;
  background: var(--theme-color);
  border-radius: 50%;
  z-index: 999;
  right: 68px;
  bottom: 118px;
  width: 100px;
  height: 100px;
  opacity: 0;
  transform: translate(50%, 50%);
  animation: rippleSide 1s 1 ease-in;
}

.form {
  background: var(--bg);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  animation: layIn 1250ms 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation-play-state: var(--animation-state)
}

.ripple-effect-lay {
  background: transparent;
  border: 10px solid var(--apt-color);
  animation: rippleSideLay 1s 1 ease-in;
  animation-delay: 450ms;
  display: block;
  z-index: 9999;
}

.close-btn {
  font-size: 25px !important;
  color: var(--color);
  border: 2px solid var(--sec-color);
  padding: 8px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 10px;
}

.form-center {
  width: 90%;
  padding: 17px;
  position: relative;
}

.form-center p {
  font-style: 20px;
  width: 95%;
  animation: fadeInDown 1s 1;
}

.form-center input,
.form-center textarea,
.form-center select {
  border: 0;
  outline: none;
  font-size: 35px;
  background: var(--bg);
  width: 95%;
  padding: 5px;
  animation: slideInDown 1s 1;
}

.form-center textarea {
  font-size: 20px;
  resize: none;
}

.form-center select {
  color: var(--sec-theme-color);
}

.form-display {
  display: none;
}

@keyframes rippleSide {
  0% {
    opacity: 1;
    transform: translate(50%, 50%) scale(0);

  }

  100% {
    transform: translate(50%, 50%) scale(20);
    opacity: 0.3;
  }
}

@keyframes rippleSideLay {
  0% {
    opacity: 1;
    transform: translate(50%, 50%) scale(0);

  }

  100% {
    transform: translate(50%, 50%) scale(20);
    opacity: 0.2;
  }
}

@keyframes layIn {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}