body,
input,
textarea {
  font-family: "Poppins", "Raleway", sans-serif;
  background: var(--bg);
  color: var(--color);
}

body {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 5px;
}

a {
  text-decoration: none;
  color: var(--theme-color);
}

:root {
  --animation-state: paused;
}

.font-raleway {
  font-family: "Raleway"
}

.letter,
.word {
  display: inline-block;
  /* line-height: 1em; */
}

.row-box {
  display: flex;
  flex-direction: row;
}

.column-box {
  display: flex;
  flex-direction: column;
}

.right-10px {
  position: absolute;
  right: 10px;
}

.eva.large-icon-x2 {
  font-size: 35px;
}

input[type="checkbox"] {
  min-width: 16px;
  min-height: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--bg);
  color: #3FCD85;
  border-radius: 5px;
  outline: 2px solid var(--theme-color);
  outline-offset: 1.5px;
}

input[type="checkbox"]:checked {
  background: var(--theme-color);
}