body,
input,
textarea {
  font-family: "Poppins", "Raleway", sans-serif;
  background: var(--bg);
  color: var(--color);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 5px;
}

a {
  text-decoration: none;
  color: var(--theme-color);
}

.font-raleway {
  font-family: "Raleway"
}

.letter {
  display: inline-block;
  /* line-height: 1em; */
}

.row-box {
  display: flex;flex-direction: row;
}

.column-box {
  display: flex;flex-direction: column;
}

.right-10px {
  position: absolute;
  right: 10px;
}