body,
input,
textarea {
  font-family: "Poppins", "Raleway", sans-serif;
  background: var(--bg);
  color: var(--color);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 5px;
}

.font-raleway {
  font-family: "Raleway"
}

.letter {
  display: inline-block;
  /* line-height: 1em; */
}