button {
  margin: 5px;
  padding: 13px 23px;
  border-radius: 25px;
  background: linear-gradient(to top, var(--theme-color), var(--theme-color-alpha));
  color: var(--apt-color);
  border: 0px;
  outline: none;
  transition: 200ms;
  font-family: "Rubik", "Raleway", "Poppins", "sans-serif";
}

button:hover {
  background: var(--sec-theme-color);
}

.sec-btn {
  background: var(--sec-bg);
  color: var(--color);
}

.sec-btn:hover {
  background: var(--third-bg);
}

*::-webkit-scrollbar, ::-webkit-scrollbar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}