:root {
  --theme-color: #db4060;
  --sec-theme-color: #ff819b;
  --theme-color-alpha: #f1617e;
  --apt-color: #fff;
  --color: #050505;
  --sec-color: #313131;
  --bg: #ffffff;
  --sec-bg: #eee;
  --apt-sec-color: #050505;
  --apt-third-color: #050505;
  --third-bg: #dbdbdb;
  --border-color: #ccc;
  --spinner-one: #db3737;
  --spinner-two: #e87e48;
  --shadow: #dfdfdf;
  /* other properties */
  --border-radius: 10px;
  --curved-radius: 25px;
  --border-radius-sm: 5px;
}
