:root {
  --theme-color: #DB4060;
  --sec-theme-color: #FF819B;
  --theme-color-alpha: #F1617E;
  --apt-color: #fff;
  --color: #050505;
  --sec-color: #313131;
  --bg: #ffffff;
  --sec-bg: #eee;
  --apt-sec-color: #050505;
  --apt-third-color: #050505;
  --third-bg: #DBDBDB;
  --border-color: #ccc;
  --spinner-one: #DB3737;
  --spinner-two: #E8AE48;
  --shadow: #DFDFDF;
}

/*

:root {
  --theme-color: #6482AD;
  --sec-theme-color: #7FA1C3;
  --theme-color-alpha: #6482AD;
  --apt-color: #fff;
  --color: #050505;
  --sec-color: #313131;
  --bg: #fff;
  --sec-bg: #EBF4F6;
  --third-bg: #D4ECEE;
  --border-color: #ccc;
  --spinner-one: #2E6A89;
  --spinner-two: #4AB8F1;
}*/

/*
:root {
  --theme-color: #6482AD;
  --sec-theme-color: #7FA1C3;
  --theme-color-alpha: #6482AD;
  --apt-color: #fff;
  --color: #050505;
  --sec-color: #313131;
  --bg: #fff;
  --sec-bg: #F5EDED;
  --third-bg: #E2DAD6;
  --border-color: #7FA1C3;
    --spinner-one: #5BDB61;
  --spinner-two: #35B12C;
}

*/
/*
:root {
  --theme-color: #3EBA6C;
  --sec-theme-color: #42AF3A;
  --theme-color-alpha: #56D786;
  --apt-color: #fff;
  --color: #050505;
  --sec-color: #313131;
  --bg: #ffffff;
  --sec-bg: #EEEEEE;
  --third-bg: #F4FFE9;
  --border-color: #DFFFC3;
  --spinner-one: #5BDB61;
  --spinner-two: #35B12C;
}*/