.preloader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  z-index: 999;
  animation: fadeIn 350ms 1;
  background: var(--bg);
  font-family: var(--global-ff);
  text-align: center;
}

.preloader p {
  padding: 20px;
  font-family: var(--global-ff);
  font-size: 14.5px;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2s infinite linear;
  animation: sk-rotate 2s infinite linear;
}

.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: var(--spinner-one);
  border-radius: 100%;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background: var(--spinner-two);
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-bounce {

  0%,
  100% {
    -webkit-transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {

  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@media screen and (min-width: 600px) {
  .preloader {
    z-index: 99999;
  }
}

.svg-mini-loader {
  color: #fff;
  width: 20px;
  height: 20px;
  margin: auto 0;
  margin-right: 10px;
  margin-left: 0;
  padding: 0;
}

.support-mini-loader-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button .svg-mini-loader {
  color: #000 !important;
}

.loader-x2 {
  width: 45px;
  height: 45px;
  margin: 5px;
}

/* second */
/* 
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
  margin: 0px auto;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 3px solid var(--spinner-one);
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: var(--spinner-two);
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 7px;
}
.loader::before {
  border: 6px solid var(--spinner-one);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
} */

.loader {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  position: relative;
  margin: 10px auto;
  animation: rotate 1s linear infinite
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 8px solid var(--spinner-one);
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: var(--spinner-two);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }
}





@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 2163.2080078125px;
    stroke-dasharray: 2163.2080078125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2163.2080078125px;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 2163.2080078125px;
    stroke-dasharray: 2163.2080078125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2163.2080078125px;
  }
}

@-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 0, 71);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 0, 71);
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
    animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
  animation: animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
    animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 308.9718017578125px;
    stroke-dasharray: 308.9718017578125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 308.9718017578125px;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 308.9718017578125px;
    stroke-dasharray: 308.9718017578125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 308.9718017578125px;
  }
}

@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
    animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
  animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
    animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 187.60792541503906px;
    stroke-dasharray: 187.60792541503906px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 187.60792541503906px;
  }
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 187.60792541503906px;
    stroke-dasharray: 187.60792541503906px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 187.60792541503906px;
  }
}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,
    animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
  animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,
    animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
}

@-webkit-keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 16.550952911376953px;
    stroke-dasharray: 16.550952911376953px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 16.550952911376953px;
  }
}

@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 16.550952911376953px;
    stroke-dasharray: 16.550952911376953px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 16.550952911376953px;
  }
}

@-webkit-keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-4 {
  -webkit-animation: animate-svg-stroke-4 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both,
    animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;
  animation: animate-svg-stroke-4 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both,
    animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;
}

@-webkit-keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 73.63858032226562px;
    stroke-dasharray: 73.63858032226562px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 73.63858032226562px;
  }
}

@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 73.63858032226562px;
    stroke-dasharray: 73.63858032226562px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 73.63858032226562px;
  }
}

@-webkit-keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-5 {
  -webkit-animation: animate-svg-stroke-5 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s both,
    animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s both;
  animation: animate-svg-stroke-5 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s both,
    animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s both;
}

@-webkit-keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 38.005470275878906px;
    stroke-dasharray: 38.005470275878906px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 38.005470275878906px;
  }
}

@keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 38.005470275878906px;
    stroke-dasharray: 38.005470275878906px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 38.005470275878906px;
  }
}

@-webkit-keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-6 {
  -webkit-animation: animate-svg-stroke-6 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both,
    animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both;
  animation: animate-svg-stroke-6 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both,
    animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both;
}

@-webkit-keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 462.4640808105469px;
    stroke-dasharray: 462.4640808105469px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 462.4640808105469px;
  }
}

@keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 462.4640808105469px;
    stroke-dasharray: 462.4640808105469px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 462.4640808105469px;
  }
}

@-webkit-keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-7 {
  -webkit-animation: animate-svg-stroke-7 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s both,
    animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s both;
  animation: animate-svg-stroke-7 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s both,
    animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s both;
}

@-webkit-keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 162.77772521972656px;
    stroke-dasharray: 162.77772521972656px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 162.77772521972656px;
  }
}

@keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 162.77772521972656px;
    stroke-dasharray: 162.77772521972656px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 162.77772521972656px;
  }
}

@-webkit-keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-8 {
  -webkit-animation: animate-svg-stroke-8 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s both,
    animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
  animation: animate-svg-stroke-8 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s both,
    animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
}

@-webkit-keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 160.1099395751953px;
    stroke-dasharray: 160.1099395751953px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 160.1099395751953px;
  }
}

@keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 160.1099395751953px;
    stroke-dasharray: 160.1099395751953px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 160.1099395751953px;
  }
}

@-webkit-keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-9 {
  -webkit-animation: animate-svg-stroke-9 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s both,
    animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s both;
  animation: animate-svg-stroke-9 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s both,
    animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s both;
}

.svgloader {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  animation: opacityAn 2s infinite linear;
}

@keyframes opacityAn {
  0% {
    filter: blur(1px) brightness(90%)
  }

  75% {
    filter: blur(0) brightness(150%)
  }

  100% {
    filter: blur(1px) brightness(90%)
  }
}