.dark-theme {
  --theme-color: #BB86FC;
  --sec-theme-color: #6D03DA;
  --theme-color-alpha: #BB86FC;
  --apt-color: #121212;
  --color: #ffffff;
  --sec-color: #BCBCBC;
  --bg: #1c1c1c;
  --sec-bg: #121212;
  --apt-sec-color: #e0e0e0;
  --apt-third-color: #b0b0b0;
  --third-bg: #2e2e2e;
  --border-color: #ccc;
  --spinner-one: #db3737;
  --spinner-two: #e87e48;
  --shadow: #dfdfdf;
  /* other properties */
  --border-radius: 10px;
  --curved-radius: 25px;
  --border-radius-sm: 5px;
  
  --spinner-one: #FDFCFF;
  
  --nav-bg: #FF1E5F;
  --menu-bg: var(--sec-bg);
  --apt-nav-color: #FFF4F4;
  --apt-menu-color: var(--apt-sec-color);
}

.blueocean-theme {
  --theme-color: #40b5db;
  --sec-theme-color: #16595f;
  --theme-color-alpha: #40b5db;
  --apt-color: #000;
  --color: #eee4e4;
  --sec-color: #ccbbbb;
  --bg: #26393e;
  --sec-bg: #376266;
  --apt-sec-color: #f4ecec;
  --apt-third-color: #fbf7f7;
  --third-bg: #0d101e;
  --border-color: #474c53;
  --spinner-one: #f74545;
  --spinner-two: #e8ae48;
  --shadow: #1b1e22;

  --nav-bg: var(--third-bg);
  --menu-bg: var(--third-bg);
  --apt-nav-color: var(--apt-third-color);
  --apt-menu-color: var(--apt-third-color);
}

.darkmoon-theme {
  --theme-color: #663499;
  --sec-theme-color: #FFA02D;
  --theme-color-alpha: #4B2B7D;
  --apt-color: #000;
  --color: #EEE4E4;
  --sec-color: #ccbbbb;
  --bg: #1E2122;
  --sec-bg: #2B2E2E;
  --apt-sec-color: #f4ecec;
  --apt-third-color: #fbf7f7;
  --third-bg: #0E0F12;
  --border-color: #474c53;
  --spinner-one: #FF3F3F;
  --spinner-two: #FFA02D;
  --shadow: #1b1e22;

  --nav-bg: var(--third-bg);
  --menu-bg: var(--third-bg);
  --apt-nav-color: var(--apt-third-color);
  --apt-menu-color: var(--apt-third-color);
}

.classic-theme {
  --theme-color: #398BB2;
  --sec-theme-color: #163F5F;
  --theme-color-alpha: #398BB2;
  --apt-color: #FFFFFF;
  --color: #212121;
  --sec-color: #242323;
  --bg: #E7F4FF;
  --sec-bg: #FFFFFF;
  --apt-sec-color: #1D1D1D;
  --apt-third-color: #272727;
  --third-bg: #A7DDFF;
  --border-color: #474C53;
  --spinner-one: #FF2222;
  --spinner-two: #FFFFFF;
  --shadow: #1B1E22;
}

.classic-theme .menubox,
.classic-theme nav {
  background: var(--theme-color);
  color: var(--apt-color) !important;
}

.classic-theme .nav-title {
  color: var(--apt-color);
}

.classic-theme nav b {
  color: var(--spinner-two);
}

.classic-theme .menubox .active {
  background: var(--bg);
  color: var(--color);
}

.classic-theme .menubox .active .eva {
  background: var(--sec-bg);
  color: var(--apt-sec-color);
}