.body {
  /* padding: 10px;    */
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 650px) {
  .body {
    height: calc(100vh - 114px);
    overflow-y: scroll;
  }
}