.body {
  padding: 10px;
  padding-bottom: 100px;
}

.users-list {
  width: calc(100% - 10px);
  overflow-wrap: break-word;
}

.body-header h4 {
  font-weight: 600;
  margin: 8px;
}

.display-box {
  background: var(--sec-bg);
  color: var(--color);
  font-family: "Rubik";
  padding: 5px;
  padding-left: 8px;
  font-size: 15px;
  position: relative;
  border-top: 1px solid var(--border-color);
  display: flex;
  flex-direction: row;
}

.display-box-right {
  margin-left: auto;
  margin-right: 3px;
}

.display-box-right input {
  border: none;
  background: transparent;
  color: var(--theme-color);
  outline: none;
}

.info-user {
  display: none;
  border-radius: 10px;
  padding: 5px;
  margin: 8px;
}

@media screen and (min-width: 650px) {
  .bodybox {
    display: flex;
    flex-direction: row;
  }

  .users-list {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .info-user {
    width: 50%;
    display: block;
    background: var(--sec-bg);
  }
}