body {
  padding: 20px;
  border-radius: 8px;
  /* background: linear-gradient(to bottom, #FFFFFF, #27AC6B4F); */
  height: calc(100vh - 40px);
  background: url("https://api.dicebear.com/9.x/shapes/svg?seed=Bjrt&radius=0&size=2096") center center;
  backdrop-filter: blur(2px);
  background-repeat: no-repeat;
}

.large-title,
.large-text {
  overflow-wrap: break-word;
  margin: 5px;
  font-size: 50px;
  font-family: "Poppins";
  line-height: 55px;
  word-wrap: break-word;
  transition: 0.3s;
}

.welcome-text {
  font-size: 33px;
  display: inline-flexbox;
  font-family: "Raleway", "Poppins", sans-serif;
  color: var(--theme-color);
  overflow: hidden;
  margin: 3px;
  margin-left: 8px;
}

.indro-text {
  margin: 10px;
  margin-left: 5px;
  margin-top: 20px;
  animation: fadeInUp 500ms 1;
  animation-delay: 00ms;
  animation-play-state: paused;
  font-family: "Exo"
}

.reg-btn {
  color: var(--color);
  margin-top: 20px;
  text-decoration: none;
  animation: fadeInUp 1000ms 1;
  animation-play-state: paused;
  animation-delay: 00ms;
  display: inline-block;
}

.reg-btn button {
  font-size: 15px;
  font-family: "Rubik";
}

.main-section {
  border-radius: 10px;
  background: radial-gradient(#fff 70%, transparent 150%);
  padding: 13px;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 85vh;
  z-index: 99;
  margin: 10px;
}

@media screen and (min-width: 650px) {
  .main-section {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
  }
}