body {
  padding: 20px;
  border-radius: 8px;
  /* background: linear-gradient(to bottom, #FFFFFF, #27AC6B4F); */
  height: calc(100vh - 40px);
  /* background: url("../../assets/bg/boxing-gloves-realistic-composition-with-dark-gradient-background-pair-red-mufflers-hanging-strings-vector-illustration_1284-78726.jpg")
  center center; */
  backdrop-filter: blur(0px);
  background-repeat: no-repeat;
}


.large-title,
.large-text {
  color: var(--color);
  overflow-wrap: break-word;
  margin: 5px;
  font-size: 50px;
  font-family: "Poppins";
  line-height: 55px;
  word-wrap: break-word;
  transition: 0.3s;
}

.welcome-text {
  font-size: 25px;
  /* display: inline-block; */
  font-family: "Raleway", "Poppins", sans-serif;
  color: #A52424;
  overflow: hidden;
  /* text-shadow: 0 0 2px #A52424; */
  background: #ffffffe6;
  padding: 5px 5px;
  margin: 3px;
  margin-left: 0px;
}

.indro-text {
  color: var(--sec-color);
  margin: 10px;
  margin-left: 5px;
  margin-top: 20px;
  animation: fadeInUp 500ms 1;
  animation-delay: 00ms;
  animation-play-state: paused;
  font-family: "Nunito";
}

.reg-btn {
  color: var(--color);
  margin-top: 20px;
  text-decoration: none;
  animation: fadeInUp 1000ms 1;
  animation-play-state: paused;
  animation-delay: 00ms;
  display: inline-block;
}

.reg-btn button {
  font-size: 15px;
  font-family: "Rubik";
  background: #4D90D7;
  color: #FFFFFF;
}

.main-section {
  border-radius: 10px;
  /* background: radial-gradient(#fff 70%, transparent 150%); */
  padding: 13px;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 85vh;
  z-index: 99;
  color: #fff;
  margin: 10px;
}

@media screen and (min-width: 650px) {
  .main-section {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
  }
}

@media screen and (max-width: 650px) {
  body {
    /* background-position: -984.4px center; */
    /* background-position: 57% center; */
  }
}


/* body {
    background: -moz-linear-gradient(45deg, #02e1ba 0%, #26c9f2 29%, #d911f2 66%, #ffa079 100%);
    background: -webkit-linear-gradient(45deg, #02e1ba 0%,#26c9f2 29%,#d911f2 66%,#ffa079 100%);
    background: linear-gradient(45deg, #02e1ba 0%,#26c9f2 29%,#d911f2 66%,#ffa079 100%);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  min-height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  overflow: hidden;
  position: relative; 
}

body::before, 
body::after {
  content: "";
  width: 70vmax;
  height: 70vmax;
  position: absolute;
  background: rgba(255, 255, 255, 0.07);
  left: -20vmin;
  top: -20vmin;
  animation: morph 15s linear infinite alternate, spin 20s linear infinite;
  z-index: 1;
  will-change: border-radius, transform;
  transform-origin: 55% 55%;
  pointer-events: none; 
}
  
body::after {
    width: 70vmin;
    height: 70vmin;
    left: auto;
    right: -10vmin;
    top: auto;
    bottom: 0;
    animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
    transform-origin: 20% 20%; 
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%; }
  100% {
    border-radius: 40% 60%; } 
}

@keyframes spin {
  to {
    transform: rotate(1turn); 
  } 
}
  .st0{display:none;}
  .st1{display:inline;}
  .st2{opacity:0.29;}
  .st3{fill:#FFFFFF;}
  .st4{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
  .st5{clip-path:url(#SVGID_4_);}
  .st6{clip-path:url(#SVGID_6_);}
  .st7{clip-path:url(#SVGID_8_);}
  .st8{clip-path:url(#SVGID_10_);}
  .st9{fill:none;}
  .st10{clip-path:url(#SVGID_12_);}
  .st11{opacity:0.7;}
  .st12{clip-path:url(#SVGID_14_);}
  .st13{opacity:0.2;}
  .st14{clip-path:url(#SVGID_16_);}
  .st15{opacity:0.3;fill:#FFFFFF;enable-background:new    ;} */