/* .session-image {
    background: url('../../assets/bg/boxers\ club\ background\ image\,\ highly\ detailed\,\ no\ boxers\,\ only\ ring\,\ dark\ background\,\ photorealstic.jpeg');
    width: 100%;
    height: 100vh;
    contain: '';

}

.session {
    background: transparent;
} */